<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gif1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gif1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBudget"
        tools:targetApi="31">
        <activity
            android:name=".Warning"
            android:exported="false" />
        <activity
            android:name=".Variatii_Categorii"
            android:exported="false" />
        <activity
            android:name=".Sugestii"
            android:exported="false" />
        <activity
            android:name=".Balanta"
            android:exported="false" />
        <activity
            android:name=".Cheltuieli_Membrii"
            android:exported="false" />
        <activity
            android:name=".Cheltuielile_Mele"
            android:exported="false" />
        <activity
            android:name=".Categoriile_Mele"
            android:exported="false" />
        <activity
            android:name=".Venit_Fix"
            android:exported="false" />
        <activity
            android:name=".IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".Venit_actual"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn" />
        <activity android:name=".Register" />
        <activity android:name=".Income" />
        <activity android:name=".Cheltuieli" />
        <activity android:name=".Categories" />
        <activity android:name=".Statistics" />
    </application>

</manifest>